:host {
  width: 100%;
}

.card-header,
.card-content {
  padding-inline: 0;
}

.header-left-group {
  margin-right: 10px;
}

.emotion-name {
  word-break: break-all;
}

.color {
  min-width: 18px;
  min-height: 18px;
  border-radius: 50%;
  margin-left: 10px;
}
