<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>{{ action() ? 'Редактирование' : 'Создание' }} действия</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close(ModalRole.Cancel)">
        <ion-icon slot="icon-only" size="large" src="icons/close-outline.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form pw-automation-id="action-modal-form" [formGroup]="form">
    <div class="form-control">
      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Название"
          formControlName="name"
          placeholder="Поход"
          pw-automation-id="action-modal-form-control"
        />
      </ion-item>

      @let nameControl = form.get('name')!;
      @if (nameControl.touched && !!nameControl.errors) {
        <ion-note class="form-control__error-text" color="danger">
          {{ nameControl | controlErrorPipe }}
        </ion-note>
      }
    </div>

    <div class="form-control">
      <ion-item>
        <ion-input
          formControlName="rate"
          label="Рейтинг"
          type="number"
          min="0"
          max="10"
          placeholder="5"
          pw-automation-id="action-modal-form-control"
        />

        <span class="rate-label ion-margin-start">из 10</span>
      </ion-item>

      @let rateControl = form.get('rate')!;
      @if (rateControl.touched && !!rateControl.errors) {
        <ion-note class="form-control__error-text" color="danger">
          {{ rateControl | controlErrorPipe }}
        </ion-note>
      }
    </div>

    <div class="form-control">
      <ion-item>
        <ion-textarea
          class="textarea"
          labelPlacement="floating"
          label="Комментарий"
          formControlName="comment"
          placeholder="Например, ощущения"
          pw-automation-id="action-modal-form-control"
        />
      </ion-item>
    </div>

    <div class="form-control">
      <ion-item>
        <ion-toggle formControlName="private" pw-automation-id="action-modal-form-control">Приватность</ion-toggle>
      </ion-item>

      @let privateControl = form.get('private')!;
      @if (privateControl.touched && !!privateControl.errors) {
        <ion-note class="form-control__error-text" color="danger">
          {{ privateControl | controlErrorPipe }}
        </ion-note>
      }
    </div>

    @if (action()) {
      @let historyControls = historyFormArray.controls;

      @if (historyControls.length > LAST_N_HISTORY_ITEMS) {
        <ion-button size="small" fill="clear" (click)="toggleShowAllHistoryControls()">
          {{ showAllHistoryControls() ? 'Скрыть' : 'Показать все' }}
        </ion-button>
      }

      <div class="form-control">
        <ion-item formArrayName="history">
          <div class="history-wrap">
            @for (
              historyDateControl of showAllHistoryControls()
                ? historyControls
                : (historyControls | lastItems: LAST_N_HISTORY_ITEMS);
              track $index
            ) {
              <div class="history-input">
                <ion-input class="date-input" type="text" [formControl]="historyDateControl" />

                <ion-button (click)="removeDateControl($index)">
                  <ion-icon slot="icon-only" size="small" src="icons/remove-circle.svg" />
                </ion-button>
              </div>
            }

            <ion-button (click)="addDateControl()">
              <ion-icon slot="icon-only" size="large" src="icons/add-circle.svg" />
            </ion-button>
          </div>
        </ion-item>

        @let historyControl = form.get('history')!;
        @if (historyControl.touched) {
          <ion-note class="form-control__error-text" color="danger">
            {{ historyControl | controlErrorPipe }}
          </ion-note>
        }
      </div>
    }

    <ion-button
      class="marging-top-xxl"
      expand="block"
      pw-automation-id="action-modal-save-button"
      [disabled]="form.invalid"
      (click)="confirmCreation()"
    >
      Сохранить
    </ion-button>
  </form>
</ion-content>
