<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>{{ action() ? 'Редактирование' : 'Создание' }} действия</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close(ModalRole.Cancel)">
        <ion-icon slot="icon-only" size="large" src="icons/close-outline.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form pw-automation-id="action-modal-form" [formGroup]="form">
    <ion-item>
      <ion-input labelPlacement="floating" label="Название" formControlName="name" placeholder="Поход" />
    </ion-item>

    <ion-item>
      <ion-input formControlName="rate" label="Рейтинг" type="number" min="0" max="10" placeholder="5" />

      <span class="rate-label ion-margin-start">из 10</span>
    </ion-item>

    <ion-item>
      <ion-textarea
        class="textarea"
        labelPlacement="floating"
        label="Комментарий"
        formControlName="comment"
        placeholder="Например, ощущения"
      />
    </ion-item>

    @if (action()) {
      <ion-item formArrayName="history">
        <div class="history-wrap">
          @for (historyDateControl of historyFormArray.controls; track $index) {
            <div class="history-input">
              <ion-input class="date-input" type="text" [formControl]="historyDateControl" />

              <ion-button (click)="removeDateControl($index)">
                <ion-icon slot="icon-only" size="small" src="icons/remove-circle.svg" />
              </ion-button>
            </div>
          }

          <ion-button (click)="addDateControl()">
            <ion-icon slot="icon-only" size="large" src="icons/add-circle.svg" />
          </ion-button>
        </div>
      </ion-item>
    }

    <ion-button class="ion-margin-top" expand="block" [disabled]="form.invalid" (click)="confirmCreation()">
      Сохранить
    </ion-button>
  </form>
</ion-content>
