<ion-header>
  <ion-toolbar class="toolbar ion-text-center">
    <ion-title>Журнал</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-range-filter (apply)="rangeFilters.set($event)" />

  <ion-list>
    @for (emotionEntry of emotionsMap() | filterByRange: rangeFilters() | sortByDates; track emotionEntry[0]) {
      @let date = emotionEntry[0];
      @let emotions = emotionEntry[1];

      <ion-item-group>
        <ion-item-divider>
          <ion-label>{{ date }}</ion-label>
        </ion-item-divider>

        @for (emotion of emotions; track emotion.id) {
          <ion-item>
            <app-emotion-card
              [emotion]="emotion"
              (edit)="openEditEmotionModal(emotion)"
              (remove)="remove(emotion.id)"
            />
          </ion-item>
        }
      </ion-item-group>
    }
  </ion-list>
</ion-content>
